<h3>Novo Produto</h3>
<hr>
<form [formGroup]="formProduto" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
  </div>
  <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">
    <div *ngIf="nome.errors?.required">
      O nome é obrigatório.
    </div>
  </div>
  <div class="form-group">
    <label for="descricao">Descrição</label>
    <input type="text" class="form-control" id="descricao" placeholder="Descrição da categoria" formControlName="descricao">
  </div>

  <div class="form-group">
    <label for="categoriaKey">Categoria</label>
    <select class="form-control" id="categoriaKey" formControlName="categoriaKey" (change)="setCategoriaNome($event.target.selectedOptions)">
      <option value="">- Escolher -</option>
      <option *ngFor="let categoria of categorias | async" [value]="categoria.key">{{ categoria.nome}}</option>
    </select>
  </div>
  <div *ngIf="categoriaKey.invalid && (categoriaKey.dirty || categoriaKey.touched)" class="alert alert-danger">
    <div *ngIf="categoriaKey.errors?.required">
      A categoria é obrigatória.
    </div>
  </div>

  <div class="form-group">
    <label for="preco">Preço</label>
    <input type="number" step="1" min="0.1" class="form-control" id="preco" placeholder="preco" formControlName="preco">
  </div>
  <div *ngIf="preco.invalid && (preco.dirty || preco.touched)" class="alert alert-danger">
    <div *ngIf="preco.errors?.required">
      O preco é obrigatório.
    </div>
  </div>

  <!-- O controle abaixo é para fazer upload do arquivo -->
  <div class="form-group" *ngIf="imgUrl == ''">
    <label class="form-control-label">Foto/Imagem</label>
    <input type="file" class="form-control" accept="image/png,image/jpeg" (change)="upload($event)" formControlName="img" />
  </div>

  <!-- A div abaixo é para exibir a imagem do produto -->
  <div class="form-group" *ngIf="imgUrl != ''">
    <img [src]="imgUrl" class="img-thumbnail d-block" style="max-width: 100px;">
    <button class="btn btn-danger mt-2" type="button" (click)="removerImg()">
      Remover imagem
    </button>
  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>
  <a class="btn btn-secondary ml-2" [routerLink]="['/produtos']">Voltar</a>

</form>
